<!DOCTYPE html>
<html>
<head>
    <title>Employee Info</title>
</head>
<body>
<h2>Employee Info</h2>
<br>
<form action="/admin/saveUser" method="post" th:object="${user}">
    <input type="hidden" th:field="*{id}">

    Name: <input type="text" th:field="*{username}">
    <br><br>

    Surname: <input type="text" th:field="*{surname}">
    <br><br>

    Department: <input type="text" th:field="*{department}">
    <br><br>

    Password: <input type="password" th:field="*{password}">
    <br><br>

    Roles:
    <br>
    <input type="checkbox" name="role" value="ROLE_USER"> ROLE_USER
    <br>
    <input type="checkbox" name="role" value="ROLE_ADMIN"> ROLE_ADMIN
    <br><br>
    <a href="/logout" class="button">Exit</a>
    <br><br>


    <input type="submit" value="OK">
</form>
</body>
</html>